@each $name, $value in $font-family {
  .#{$name} {
    font-family: $font-family-noto, sans-serif;
    font-weight: $value;
  }
}
.roboto-r{
  font-family: $font-family-roboto, sans-serif;
  font-weight: 400;
}