@each $breakpoint in map-keys($grid-breakpoints) {
  // font-size
  @each $size, $value in $font-size {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
   
      .text#{$infix}-#{$size} {
       font-size: $value !important;
      }
    }
    
  }
  // line-height
  @each $lh, $value in $line-height {
    @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    
      .lh#{$infix}-#{$lh} {
        line-height: $value !important;
      }
    }
  }
};