.swiper-button-prev,.swiper-button-next:after
  display: none
  
.swiper-button-next
  padding: 25px
  border-radius: 50%
  background-color: #F1F0F8
  span
    font-size: 44px
    font-weight: bold
    color: #fff

.card-img-top
  height: 120px
.card-body
  margin-top: -70px