.reserve-modal
  display: none
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  z-index: 3
  color: #000

.modal-image
  width: 282px
  height: 282px
  margin-right: 12px
  +tablet()
    width: 150px
    height: 150px
  +iphone()
    width: 120px
    height: 120px
.modal-item
  width: 128px
  height: 128px
  margin-right: 12px
  border-radius: 5px
  box-shadow: 0 2px 2px 2px #00000029
  display: flex
  justify-content: center
  align-items: center
  text-align: center
  +iphone()
    width: 72px
    height: 72px
    margin-right: 4px
  &.active
    border: 3px solid #D5411A
    .modal-link
      span
        color: #F0AD25
      p
        color: #772400
.modal-link
  span,p
    color: #888888
  p
    margin-top: -6px
    margin-bottom: 0
    font-size: 20px
  span
    font-size: 40px
  +iphone()
    p
      font-size: 16px
    span
      font-size: 20px
.modal-buttons
  @media (min-width: 992px)
    margin-top: -30px
.modal-icon
  font-size: 80px