.reserve-modal
  height: 100vh
  background-color: rgba(0,0,0,.8)
  position: fixed
  display: none
  top: 71px
  bottom: 0
  left: 0
  right: 0
  z-index: 2
  transition: all 3s
  // &.show
  //   display: block

