.reservation
  display: flex
  +iphone()
    flex-wrap: wrap
.item
  min-height: 350px
  +tablet()
    min-height: 210px
  +iphone()
    width: 100% !important
    min-height: 132px
    margin-bottom: 4px
  &:nth-child(1)
    width: 31%
  &:nth-child(2)
    width: 28%
  &:nth-child(3)
    width: 23%
  &:nth-child(4)
    width: 18%
  a
    background-size: cover
    position: relative
    background-color: rgba(0,0,0,.6)
    h4
      position: absolute
      top: 0
      left: 0
      bottom: 0
      right: 0
      background-color: rgba(0,0,0,.6)
      display: flex
      align-items: center
      justify-content: center
      color: #fff
      transition: all 0.3s
      margin-bottom: 0
    &:hover
      h4
        background-color: rgba(0,0,0,0.1)
.boarding
  background: url(../images/index-5.jpeg)
.grooming
  background: url(../images/index-6.jpeg)
.onSite
  height: calc(50% - 4px)
  background: url(../images/index-7.jpeg)
  margin-bottom: 4px
  +iphone()
    height: 132px
.petSitter
  height: 50%
  background: url(../images/index-8.jpeg)
  +iphone()
    height: 132px
.training
  background: url(../images/index-3.jpeg)

.jumbotron
  background: url(../images/index-9.jpeg)