.reservation
  display: flex
  height: 350px
  li
    margin-right: 6px
    position: relative
    background-size: cover
    filter: brightness(0.6)
    &:nth-child(1)
      width: 30.5%
    &:nth-child(2)
      width: 27.5%
    &:nth-child(3)
      width: 23%
    &:nth-child(4)
      width: 18%
  h4
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    color: #fff
.boarding
  background: url(../images/index-5.jpeg) no-repeat center
.grooming
  background: url(../images/index-6.jpeg) no-repeat center
.onSite
  height: calc(50% - 6px)
  margin-bottom: 6px
  background: url(../images/index-7.jpeg) no-repeat center
.petSitter
  height: 50%
  background: url(../images/index-8.jpeg) no-repeat center
.training
  background: url(../images/index-3.jpeg) no-repeat center