<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body class="pt-6">
  <nav class="navbar navbar-light navbar-expand-sm fixed-top bg-white px-0">
    <div class="container">
      <h1 class="ml-7 ml-sm-0 mb-0 text-none nav-img">
        <a href="index.html">PETPET</a>
      </h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-white"></span>
      </button>
      <div class="collapse navbar-collapse text-center" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item border-bottom border-bottom-md-0">
            <a class="nav-link text-primary h5 h6-sm noto-r" href="#">預約服務</a>
          </li>
          <li class="nav-item border-bottom border-bottom-md-0">
            <a class="nav-link text-primary h5 h6-sm noto-r" href="#">成為寵物保姆</a>
          </li>
          <li class="nav-item border-bottom border-bottom-md-0">
            <a class="nav-link text-primary h5 h6-sm noto-r" href="login.html"">登入</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <%- contents %>
  
  <% if(current !== 'login' && current !== 'member') { %>
  <div class="subcribe bg-warning py-5">
    <div class="container">
      <h2 class="mb-2 h4 h1-md noto-b">有任何我們能幫助您的嗎？</h2>
      <p class="mb-3 h6 h5-md noto-m">輸入電子信箱<br>將有專業人員在線幫您解決所有問題</p>
      <div class="input-group mb-3 col-md-9 p-0">
        <input type="mail" class="form-control" placeholder="example@gmail.com" aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="btn btn-info px-6" type="button" id="button-addon2">送出</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container py-2 pt-md-6">
    <ul class="row justify-content-between mx-0 mb-0 mb-md-8">
      <li>
        <h2 class="nav-img text-none mb-0 mb-md-4"><a href="#">PETPET</a></h2>
        <ul class="d-none d-md-block pt-1">
          <li class="mb-4"><a href="#" class="noto-r">關於我們</a></li>
          <li class="mb-4"><a href="#" class="noto-r">幫助中心</a></li>
          <li class="mb-4"><a href="#" class="noto-r">使用條款</a></li>
          <li><a href="#" class="noto-r">隱私政策</a></li>
        </ul>
      </li>
      <li class="d-none d-md-block">
        <h2 class="py-2 mb-5"><a href="#" class="noto-b h5">寵物服務</a></h2>
        <ul>
          <li class="mb-4"><a href="#" class="noto-r">寵物寄宿</a></li>
          <li class="mb-4"><a href="#" class="noto-r">寵物到府保姆</a></li>
          <li class="mb-4"><a href="#" class="noto-r">寵物美容洗澡</a></li>
          <li><a href="#" class="noto-r">寵物行為訓練</a></li>
        </ul>
      </li>
      <li class="d-none d-md-block">
        <h2 class="py-2 mb-5"><a href="#" class="noto-b h5">加入我們</a></h2>
        <ul>
          <li class="mb-4"><a href="#" class="noto-r">成為寵物保姆</a></li>
          <li class="mb-4"><a href="#" class="noto-r">加入寵物計程車</a></li>
          <li class="mb-4"><a href="#" class="noto-r">專屬 APP 下載</a></li>
          <li><a href="#" class="noto-r">相關合約條款</a></li>
        </ul>
      </li>
      <li class="d-none d-md-block">
        <h2 class="py-2 mb-5"><a href="#" class="noto-b h5">聯繫我們</a></h2>
        <ul>
          <li><a href="#" class="noto-r">petpet@petmail.com</a></li>
        </ul>
      </li>
    </ul>
    <ul class="row justify-content-between mx-0">
      <li class="d-none d-md-block">
        <p class="h5 noto-m">
          <span class="material-icons align-middle mr-2">
            local_phone
          </span>
          07-123-4567
        </p>
      </li>
      <li>
        <p>Copyright © 2020 PetPet. All rights reserved.</p>
      </li>
    </ul>
  </div>
  <% } %>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.zh-TW.min.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
